<div class="container">
  <h1>Multi Step Form</h1>
  <form>
    <h4>User Details</h4>
    <div class="mb-3">
      <label for="inputName" class="form-label">Full Name</label>
      <input type="text" class="form-control" name="" id="inputName" />
    </div>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email address</label>
      <input type="email" class="form-control" name="" id="inputEmail" />
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" name="" id="inputPassword" />
    </div>
  </form>
  <h4>Additional Details</h4>
  <div class="mb-3">
    <label for="inputMobile" class="form-label">Phone Number</label>
    <input
      type="number"
      class="form-control"
      name=""
      id="inputMobile"
      placeholder="+1"
    />
  </div>
  <div class="mb-3">
    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Enter Addres"
        name=""
        id="floatingTextArea"
      ></textarea>
      <label for="floatingTextArea" class="form-label">Street Address</label>
    </div>
  </div>
</div>
